@charset "UTF-8";


.payment-select {
	border: 1px solid black;
	width: 280px;
	height: 500px;
	
}

.select {
	width:400px;
	height: 35px;
}

.payment-table {
	border: 1px solid black;
	border-bottom-color: black;
}

.crad-select {
	width:300px;
	height: 35px;
}

.payment-total {
	width: 280px;
	height: 500px;
	border: 1px solid #444;
	border-radius: 3em;
	background-color: #444;
	position: relative;
}

.info {
	position: relative;
    min-height: 350px;
    margin: 0px;
    padding: 15px;
    font-size: .8667em;
    border: 1px solid white;
}

.pay-area {
	position: absolute;
    left: 0;
    bottom: 40px;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
}

.pay-area .title {
	float: left;
    line-height: 35px;
    font-size: 15px;
}

.pay-area .money {
	float: right;
}

.pay-area .money span {
	line-height: 35px;
    font-size: 15px;
    color: #6feaf6;
}

.btn-group {
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

.btn-group .btn {
	width: 50%;
    height: 40px;
}